
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Profile</title>

	
	<!--[if IE]>
<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
<![endif]-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="../static/styles.css">

<style>


div#MACADASF {
    /* margin-top: 77px; */
    position: absolute;
    top: 123px;
}
input#search_34 {
    margin-top: 40px;
	    border-bottom-color: #bc8c8c;
}
</style>


<script>
var get_button;

var start_1=0;
var finish_1=15
mac_adress(0,15);
$("#add_button").click(function(){
start_1+=15;
finish_1+=15;
mac_adress(start_1,finish_1);
});
function mac_adress(start,finish){

    

var username="marius.glod@orange.com";
var password="C1sco123";
   $.ajax({
		url: " https://bypzn2.cmxcisco.com/api/presence/v1/clients/?siteId=1533222154202&macaddress={{mac_get}}",
		headers: { 'Authorization': "Basic " + btoa(username + ":" + password) },
		success: function(result1){
			console.log(result1);
			for(i=start;i<=finish;i++){
			$("#mac_adress_1").append("<tr><td id='number_mac' class='mdl-data-table__cell--non-numeric'>"+i+"</td><td id='mac_1'>"+result1[i].macAddress+"</td> <td id='mac_1'>"+result1[i].status+"</td><td id='mac_1'>"+result1[i].ipv4Address+"</td><td id='mac_1'>"+result1[i].bytesReceived+"</td><td id='mac_1'>"+result1[i].bytesSent+"</td><td id='mac_1'>"+result1[i].changedOnTimeStamp+"</td><td id='mac_1'>"+result1[i].ssid+"</td><td id='mac_1'>"+result1[i].changedOn+"</td><td id='mac_1'><a href='/show_site_data?mac="+result1[i].macAddress+"'>link</a></td></tr>");                    
			}
			$("#all_people_online").html(result1.length);
			
			  
	      
	     
	      
	    
			
		}
	});
	
	
	
}

</script>

<div class="MAC_Adress" id="MACADASF">





<center>

           
              <input class="mdl-textfield__input" type="text" onkeyup="search()" id="search_34">
             
          
<table id="table_id_search" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
	  <thead>
	   <tr>
	      <th><center>Online:<div id="all_people_online"></div></center></th>
		  
	      
	    </tr>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric"></th>
	      <th>Mac</th>
		  <th>Status</th>
		  <th>ipv4Address</th>
		  <th>bytesReceived</th>
		  <th>bytesSent</th>
		  <th>changedOnTimeStamp</th>
		  <th>ssid</th>
		  <th>changedOn</th>
	      <th>Link</th>
		  
	      
	    </tr>
	  </thead>
	  <tbody  id="mac_adress_1">
	  
	 
	
		
		
		
	
	  </tbody>
	  <tfoot>
	    <tr>
	      <th><button class="more_button" id="add_button">More</button></th>
		  
	      
	    </tr>
		</tfoot>
	</table>





</div>
</center>
<script>
function search() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("search_34");
  filter = input.value.toUpperCase();
  table = document.getElementById("table_id_search");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
