
<script src="https://code.highcharts.com/highcharts.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="content_opage_main">



<div id="container"></div>
<script>





device_that_are_operating();

function device_that_are_operating(){

var username="marius.glod@orange.com";
var password="C1sco123";
   $.ajax({
		url: "https://bypzn2.cmxcisco.com/api/presence/v1/kpisummary/3days?siteId=1533222154202",
		headers: { 'Authorization': "Basic " + btoa(username + ":" + password) },
		success: function(devices){
		
			//$("#peoaple3").html(devices);
			var chart = Highcharts.chart('container', {

  chart: {
    type: 'column'
  },

  title: {
    text: 'Devices'
  },

  subtitle: {
    text: ''
  },

  legend: {
    align: 'right',
    verticalAlign: 'middle',
    layout: 'vertical'
  },

  xAxis: {
    categories: ['Apple', 'Intel', 'Liteon','Samsung'],
    labels: {
      x: -10
    }
  },

  yAxis: {
    allowDecimals: false,
    title: {
      text: 'Amount'
    }
  },

  series: [{
  name:'Apple',
    data: [devices.topManufacturers.manufacturerCounts.Apple]
  }, {
   name:'Intel',
    data: [devices.topManufacturers.manufacturerCounts.Intel]
  }, {
    name:'Liteon',
    data: [devices.topManufacturers.manufacturerCounts.Liteon]
  }, {
    name:'Samsung',
    data: [devices.topManufacturers.manufacturerCounts.Samsung]
  }],

  responsive: {
    rules: [{
      condition: {
        maxWidth: 500
      },
      chartOptions: {
        legend: {
          align: 'center',
          verticalAlign: 'bottom',
          layout: 'horizontal'
        },
        yAxis: {
          labels: {
            align: 'left',
            x: 0,
            y: -5
          },
          title: {
            text: null
          }
        },
        subtitle: {
          text: null
        },
        credits: {
          enabled: false
        }
      }
    }]
  }
});
		}
	});
}





</script>
</div>

