<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="#" onclick="find_page(1);"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href="#" onclick="find_page(2);"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_chart</i>MAC Adress</a>
          <a class="mdl-navigation__link" href="#" onclick="find_page(3);"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">show_chart</i>Statics</a>
          <a class="mdl-navigation__link" href="#" onclick="find_page(4);"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>MyMac</a>
          <a class="mdl-navigation__link" href="/logout"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_forward</i>Logout</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>